
/* /Background-video */

/* COLOR DECLARATION */
:root {
    --dark-blue: #060047;
    --dark-pink: #B3005E;
    --light-pink: #E90064;
    --baby-pink: #FF5F9E;
}
/* END IF COLOR DECLARATION */

/* FOR BOTH MOBILE AND DESKTOP VERSION */

@font-face {
    font-family: Montserrat;
    src: url(Fonts/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Signika;
    src: url(Fonts/Signika_Negative/static/SignikaNegative-Regular.ttf);
}
@font-face {
    font-family: Noto_Serif;
    src: url(Fonts/Noto_Serif/NotoSerif-Regular.ttf);
}
@font-face {
    font-family: BreeSerif;
    src: url(Fonts/BreeSerif-Regular.ttf);
}
@font-face {
    font-family: AveDisplay ;
    src: url(Fonts/SedgwickAveDisplay-Regular.ttf);
}
@font-face {
    font-family: Ubuntu ;
    src: url(Fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: 'Shantell';
    src: url(Fonts/ShantellSans-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf);
}

* {
    margin:0;
    padding:0;
    box-sizing: content-box;
    scroll-behavior: smooth;
}
h1, h2, h3, h4 {
    font-family: 'Montserrat';
}
body {
    overflow-x: hidden;
}
.logo img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.background-video {
    height: 60%;
    width: 100%;
    margin: auto;
}
video {
    width: 100%;
    height: 100%;
}
.header {
    height: fit-content;
    position: relative;
    width: fit-content;
    margin: auto;
    margin-bottom: 1.5rem;
    /* background: -webkit-linear-gradient(#111111, rgba(233, 106, 178, 0.7)); */
    background-color: var(--light-pink);
    /* background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(Images/catering.jpg); */
    background-size: cover;
}
.header-content {
    margin-top: 1rem;
    padding: 2rem 2rem 5rem 2rem;
    color: white;

}
.header-content hr {
    margin-top: 1rem;
}
.header-content h2 {
    font-size: 1.5rem;
    color: white;
}
h2.logo span {
    font-family: 'Times New Roman', Times, serif;
}
.headerInfo {
    margin-top:5%;
    /* padding: 0 0 2rem 2rem; */
}
.headerInfo a {
    margin-top: 2rem;
    font-size: 20px;
    color:white;
    background-color: var(--dark-blue);
    padding: 1rem 2rem;
    text-decoration: none;
}
.headerInfo a:hover {
    background-color: var(--dark-pink);
}
.headerInfo p {
    font-size: 18px;
    margin-bottom: 4rem;
    height: max-content;
    color: var(--dark-blue);
    font-family:'Ubuntu';
    display: flex;
    flex-wrap: wrap;
}
hr#headerRule {
    height: 2px;
    background-color: var(--dark-blue);
    color: var(--dark-blue);
    box-shadow: var(--dark-blue);
}
.header-title h2{
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    /* padding: 3rem; */
    font-size:2rem ;
}
.close {
    cursor: pointer;
    float: right;
    padding: 1rem;
}
.navbar h3 {
    color: var(--light-pink);
    font-size: 30px;
}
.menu ul {
    margin-block-start:0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.menu li {
    list-style-type: none;
    margin-top: 1.5rem;
}
.menu a {
    font-size:28px;
    color:white;
    font-family:'Montserrat';
    text-decoration: none;
}
.menu a span {
    color:white;
}
.navbar h3 span {
    /* color: rgb(223, 221, 221); */
    font-family: 'Times New Roman', Times, serif;
}
.about {
    animation: ease-in;
    /* animation-duration: 2s;
    animation-name: slidein; */
    text-align: center;
    background-color: var(--dark-blue);
    padding:3rem 0;  
    color: #fff;
}
.aboutContent * {
    margin-bottom: 2rem;
    animation-duration: 2s;
    animation-name: slidein;
}
.aboutDef {
    padding: 0 2rem;
    font-family: 'Signika';
}
@keyframes slidein {
    from {
      margin-right: 100%;
      width: 300%;
    }
  
    75% {
      font-size: 300%;
      /* margin-right: 25%; */
      /* width: 150%; */
    }
  
    to {
      margin-right: 0%;
      width: 100%;
    }
  }
.services {
    
    margin-top: 4rem;
    text-align: center;
    
}
.service {
    margin-bottom: 2rem;
    /* margin-right: 2rem; */
    overflow: hidden;
    border-radius: 20px;
    height: max-content;
}
#titles{
    color: var(--light-pink);
    text-align: center;
    font-size: 5rem;
   
}
.serviceText{
    height: 100%;
    background-color: var(--light-pink);
    padding: 2rem;
    text-align: center;
}
.serviceText p {
    font-family: 'Signika';
    color: var(--dark-blue);
}
.serviceText h2 {
    color: black;
}
.serviceText hr {
    background-color: white;
    width: 7rem;
    height: 2px;
    color: var(--dark-pink);
    margin: 1rem auto;
}
.servicePics {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(images/foodPicture.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    padding: 2rem 0 0 0;
    justify-content: space-around;
    flex-wrap: wrap;
}
.servicePics img {
    height: 180px;
    width: 100%;
    margin-bottom: 0;
    object-fit: cover;
}
.gallery {
    margin-top: 6rem;
    margin-bottom: 3rem;
}
hr.horizontalRule {
    text-align: center;
    margin:1rem auto;
    width: 3rem;
    height: 3px;
    background-color: var(--dark-pink);
}
.galleryTitle {
    margin-bottom: 1rem;
}
.galleryImage {
    margin-right: 1rem;
}
.contactTitle {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}
.contact{ 
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.contact .book {
    background-image: url(images/cake6.JPG);
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 70%;
    margin:auto;
    color: var(--dark-blue);
    padding-top: 15%;
}
.book h1 {
    font-family: cursive;
    color: var(--dark-blue);

}
.whatsappIcon img{
    width: 60px;
    /* border-radius: 50% 25% 10% 14%; */
    border-radius: 25%;
    background-color: transparent;
    height: 60px;
    object-fit: cover;
    padding: 1rem 5rem;
    animation-duration: 2s;
    /* margin-top: 2rem; */
    animation-iteration-count: infinite;
    animation-name:whatsapp;
    margin-bottom: 2rem;
}
@keyframes whatsapp {
    0% {
        border: 1px solid var(--light-pink);
        background-color: transparent;
    }
    25% {
        border: 1px solid var(--light-pink);
        background-color: var(--light-pink);
    }
    50% {
        border: 1px solid var(--light-pink);
        background-color: transparent;
    }
    75% {
        border: 1px solid var(--light-pink);
        background-color:var(--light-pink);
    }
    100% {
        border: 1px solid var(--light-pink);
        background-color: transparent;
    }
}
.textUs h2{
    font-size: 15px;
    padding-bottom: 1rem;
}
.contactSection {
    background-color: var(--dark-blue);
}
.contactDetails {
    padding: 2rem 0;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
}
.detail{
    color: var(--dark-pink);
    border-radius: 20px;
    padding: 1rem 1rem;
    text-align: center;
    box-shadow: inset 3px 3px 17px 1px var(--light-pink);
    
    transition: box-shadow 2.5s ;
}

.detail:hover {
    transition: box-shadow .5s ease-in-out;
    box-shadow: 2px  2px 2px 2px var(--baby-pink);
}
.email a {
    color: var(--bb4);
    text-decoration-color: var(--dark-blue);
}
.phone a {
    text-decoration: none;
    color: var(--baby-pink);
}
.end {
    font-family: 'Signika';
    background-color: var(--light-pink);
    padding: 2rem 2rem;
}
.end hr {
    width: 90%;
    color: grey;
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
}
.end p span {
    color: var(--dark-blue);
}
.end p {
    color: var(--dark-blue);
    text-align: center;
}
footer {
    display: flex;
    margin-bottom: 2rem;
}
.socialLinks img {
    width: 24px;
    height: 24px;
    object-fit: cover;
}
/* .socialLinks {
    display: flex;
    justify-content: flex-start;
} */
.socialLinks a {
    text-decoration: none;
}
/* .quickLinks {
    justify-content: flex-end;
    display: flex;
    list-style-type: none;
} */


.quickLinks a {
    margin-left: 1.5rem;
    text-decoration: none;
    color: var(--dark-blue);
    transition: color 1.5s;
}
.quickLinks a:hover {
    color:rgb(232, 136, 189);
}
/* END OF BOTH MOBILE AND DESKTOP VERSION */

/* FOR MOBILE SCREEN */
@media screen and (min-width: 150px){
    body {
        width: 100%;
        overflow-x: hidden;
    }
    img.nav-logo {
        width: 50px;
        height: 50px;
    }
    .hamburger img{
        padding: 0 2rem 0 0;
        width: 30px;
        height: 30px;
    }
    .hamburger {
        cursor: pointer;
    }
    .mobile-navbar {
        width: 100%;
        display: flex;
        position: fixed;
        z-index: 1;
        align-items: center;
        padding: 1rem;
        background-color: var(--dark-blue);
        justify-content: space-between;
    }
    .logotitlenav {
        color: var(--light-pink);
        font-weight: 900;
    }
    .logotitlenav span {
        font-family: 'Times New Roman', Times, serif;
    }
    .main {
        overflow: hidden;
    }
    .header {
        height: fit-content;
        width: 100%;
    }
    .background-video {
        height: 55vh;
        width: 100%;
    }
    video {
        object-fit: fill;
    }
    .background-video {
        
        /* margin-top: 4rem; */
       /* Mobile screen */
    }
    .header-title {
        display: none;
        padding: 2.5rem;
        font-size: 1.5rem;
    }
    .navbar{
        text-align: center;
        padding-left: 2rem;
        position: fixed; 
        top:0;
        right:100%;
        height: 95vh;
        z-index: 2;
        overflow-x: hidden;
        overflow-y: auto;
        width: 60%;   
        background-color: var(--dark-blue);
        transition: 2s ease right;
        color: rgb(245, 24, 61);
    }
    .navbar ul> img {
        margin-top:1.3rem;
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    .navbar.active {
        right:0;
        transition: 2s ease right;
    } 
    .service {
        width: 20rem;
    }
    #titles {
        text-align: center;
        font-size: 2rem;
        /* margin-top: 4rem; */
    }
    .contact {
        height:20rem;
    }
    .contact .book {
        background-image: url(images/cake6.JPG);
        background-size: cover;
        text-align: center;
        width: 100%;
        margin:auto;
        padding-top: 15%;
    }
    .contact .book h1 {
        font-size: 30px;
        margin-bottom: 2rem;
    }
    .galleryImage img {
        border-radius: 20px;
        width: 12rem;
        height: 200px;
        object-fit: cover;
    }
    .galleryPic {
        width: 100%;
        padding: 1rem;
        overflow-x: auto;
        overflow-y:hidden;
        display: flex;
        -webkit-overflow-scrolling: scroll;
    }
    .whatsappIcon img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        padding: 0.5rem 2rem;
        animation-duration: infinite;
        animation-iteration-count: infinite;
        animation-name: whatsapp;
    }
    .contact .book h1 {
        font-size: 25px;
        margin-bottom: 2rem;
    }
    .textUs h2{
        font-size: 20px;
    }
    .detail {
        width: 180px;
        height: 120px;
        padding: 0.5rem;
        white-space: normal;
        word-wrap: break-word;
        margin-bottom: 2rem;
    }
    footer {
        justify-content: center;
    }
    .socialLinks {
        display: flex;
        margin-top: 5%;
    }
    .socialLinks img {
        margin-right: 1rem;
    }
    .quickLinks ul{
        justify-content: flex-end;
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }
}
/* END OF MOBILE SCCREEN */


/* MIDDLE OF MOBILE AND DESKTOP */
@media screen and (min-width: 700px) and (max-width:999px) {
    .heroContent {
        width: 90%;
        height: 100%;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 1;
    }
    .header-title {
        text-align: center;
        padding: 3rem;
        font-size: 2rem;
    }
    .logoName{
        display: none;
    }
    .galleryImage img {
        border-radius: 20px;
        width: 15rem;
        height: 300px;
        object-fit: cover;
    }
    .galleryPic{
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;
        gap: 0.5rem;
    }
    .whatsappIcon img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        padding: 0.5rem 2rem;
        animation-duration:2s;
        animation-iteration-count: infinite;
        animation-name: whatsapp;
    }
    @media screen and (min-width: 350px){
        @media screen and (max-height: 450px) {
        }
        .navbar {
            width: 30%;
        }
    }
    span#slide {
        display: none;
    }
    
}
/* END OF MIDDLE */



/* FOR  HEIGHT*/

/* END OF MEDIA SCREEN FOR HEIGHT */

/* FOR DESKTOP SCREEN */
@media screen and (min-width: 1000px) and (max-width: 2000px){
    .navbar{
        /* position: absolute;  */
        position: fixed;
        overflow: auto;
        top:0;
        left:0;
        height: 100vh;
        scroll-behavior: auto;
        width: 16%;
        background-color: var(--dark-blue);
    }
    .mobile-navbar {
        display: none;
    }
    .close {
        display: none;
    }
    a#menuButton {
        display: none;
    }
    .menu {
        margin-top: 2rem;
    }
    .main{
        margin-left:19%;
    }
    .heroContent {
        /* width: 90%; */
        height: 100%;
        z-index: 1;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 1;
    }
    .header-title {
        text-align: center;
        padding: 2rem;
        font-size: 2rem;
    }
    .header {
        /* height: fit-content; */
        width: 100%;
    }
    .background-video {
        height: 60vh;
        margin-top: 0;
        width: 100%;
    }
    video {
        object-fit: cover;
    }
    .logoName{
        display: none;
    }
    .navbar ul> img {
        display: none;
    }
    .service {
        width: 20rem;
        margin-right: 2rem;
    }
    .contact {
        height:max-content;
    }
    .contact .book h1 {
        font-size: 60px;
        margin-bottom: 3rem;
    }
    .galleryImage img {
        border-radius: 20px;
        width: 18rem;
        height: 300px;
        object-fit: cover;
    }
    .galleryPic{
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;
        gap: 0.5rem;
    }
    .galleryText {     
        font-size: 30px;
        animation-name: galleryText;
        animation: galleryText 3s 1;
    }
    span#slide {
        display: none;
    }
    .gallery-animation {
        animation: galleryText 3s 1;
    }

    @keyframes galleryText {
        0% {
            right: 100%;
        }
        50% {
            right: 50%
        }
        100% {
           right: 0;
        }
    }

    .whatsappIcon img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        padding: 1rem 4rem;
        animation-iteration-count: infinite;
        animation-duration: infinite;
        animation-name: whatsapp;
    }
    footer {
        justify-content: space-between;
    }
    .socialLinks {
        margin-top: 0;
        display: flex;
        flex-direction: row;
    }
    .socialLinks a {
        margin-left: 0.5rem;
    }
    .quickLinks ul{
        justify-content: flex-end;
        display: flex;
        list-style-type: none;
        flex-direction: row;
    }

    @media screen and (min-width: 900px){
        @media screen and (max-height: 600px) {
            
        }
    }
    
}

/* END OF DESKTOP SCREEN */




